
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
};

@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin cta-link($btn-call: true) {
  @if $btn-call {
    background-color: $orange;
    border: 1px solid transparent;
    color: #ffffff;

    &:hover,
    &:active {
      box-shadow: 0 7px 20px rgba(206, 78, 6, 0.3);
    }
  } @else {
    background-color: transparent;
    border: 1px solid currentColor;
    color: $orange;
  }
}
